<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Doctor</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="h-[40%] w-[100%]  flex flex-row items-center hover:visible">
        <h1 class="w-[30%] text-[40px] font-semibold px-[30px] text-[#3ebf75]">medConnect</h1>
        <nav class="flex w-[100%] items-center justify-center relative mt-[80px] sm:mt-0">
            <ul class="flex w-[100%] sm:w-[50%] items-center justify-evenly">
                <li>home</li>
                <li>contact</li>
                <li>about</li>
            </ul>
            <ul id="nav" class=" items-center text-center absolute top-[90%] left-[75%] bg-white flex-col justify-evenly
             rounded-xl hidden border border-gray-300 sm:left-[90%]">
                <li class="px-[45px] py-[15px] border-b border-gray-500 W-[100%] hover:bg-slate-400"><a href="/signup">Patient's page</a></li>
                <li class="px-[45px] py-[15px] border-b border-gray-500 W-[100%] hover:bg-slate-400"><a href="/doctor/dashboard ">Doctor's Page</a></li>
                <li class="px-[45px] py-[15px]  W-[100%] hover:bg-slate-400"><a href="/admin/dashboard">Admin's page</a></li>
            </ul>
        </nav>
        <div class="items-end w-[20%]">
            <h1 class="font-bold cursor-pointer text-[#3ebf75]" id="x">X</h1>
        </div>
    </header>



    <div id="container" class="flex flex-col items-center justify-center mt-[40px]">
        <form action="/doctorregister" method="post" class="w-[80%] bg-[gray] rounded-xl my-[20px] p-[10px]">
            <div id="pic" class="w-[100%] flex flex-row items-center justify-center my-[30px]">
                <img src="/profileimg.jpg" alt="">
            </div>
            
            <div id="form" class=" flex flex-col items-center">
                <h4 style="text-align: center;">Doctor Registration Form</h4>
                 <div class="flex flex-col items-center justify-center w-[100%] my-[20px] mt-3">
                    <label class="text-[25px] font-semibold text-white w-[60%] text-left m-[0px]" for="firstname">Surname</label>
                    <input type="text" class="rounded-sm h-[40px] w-[60%] p-[10px] border-[#3ebf75] border-[2px] m-[0px]" name="firstname" id="firstname" placeholder="Surname">  
                </div>
                <div class="flex flex-col items-center justify-center w-[100%] my-[20px]">
                    <label class="text-[25px] font-semibold text-white w-[60%] text-left m-[0px]"  for="lastname">First Name</label>
                    <input class="rounded-sm h-[40px] w-[60%] p-[10px] border-[#3ebf75] border-[2px] m-[0px]"  type="text" class="form-control first" name="lastname" id="lastname"
                        placeholder="First Given Name">
                    
                </div>

                <div class="flex flex-col items-center justify-center w-[100%] my-[20px]">
                    <label class="text-[25px] font-semibold text-white w-[60%] text-left m-[0px]"  for="email">Email Address</label>
                    <input class="rounded-sm h-[40px] w-[60%] p-[10px] border-[#3ebf75] border-[2px] m-[0px]"  type="email" class="form-control email" name="email" id="email" onkeyup="emailval()"
                        placeholder="Email Address">
                    <small class="emailerror"></small>
                    
                </div>

                <div class="flex flex-col items-center justify-center w-[100%] my-[20px]">
                    <label class="text-[25px] font-semibold text-white w-[60%] text-left m-[0px]"  for="phone">Phone Number</label>
                    <input class="rounded-sm h-[40px] w-[60%] p-[10px] border-[#3ebf75] border-[2px] m-[0px]"  type="tel" name="phone" id="phone" placeholder="Phone Number">
                </div>

                <div class="flex flex-col items-center justify-center w-[100%] my-[20px]">
                    <label class="text-[25px] font-semibold text-white w-[60%] text-left m-[0px]"  for="address">Home Address</label>
                    <input class="rounded-sm h-[40px] w-[60%] p-[10px] border-[#3ebf75] border-[2px] m-[0px]"  type="text" class="form-control" name="address" id="address" placeholder="Home Address">
                </div>
                <div class="flex flex-col items-center justify-center w-[100%] my-[20px]">
                     <labelclass="text-[25px] font-semibold text-white w-[60%] text-left m-[0px]"   for="date_joined">Date Joined</label>
                    <input class="rounded-sm h-[40px] w-[60%] p-[10px] border-[#3ebf75] border-[2px] m-[0px]"  type="date" class="form-control" name="date_joined" id="date_joined"
                        placeholder="Date Joined">
                </div>
                <div class="flex flex-col items-center justify-center w-[100%] my-[20px]">
                    <label class="text-[25px] font-semibold text-white w-[60%] text-left m-[0px]"  for="date_Of_birth">Date Of Birth</label>
                    <input class="rounded-sm h-[40px] w-[60%] p-[10px] border-[#3ebf75] border-[2px] m-[0px]"  type="date"  name="date_of_birth" id="date_Of_birth"
                        placeholder="Date_Of_Birth">
                    
                </div>
                <div class="flex flex-col items-center justify-center w-[100%] my-[20px]">
                    <label class="text-[25px] font-semibold text-white w-[60%] text-left m-[0px]"  for="gender">gender</label>
                    <select class="rounded-sm h-[40px] w-[60%] p-[10px] border-[#3ebf75] border-[2px] m-[0px]"   name="gender" id="gender" class="form-select">
                        <option value="N/A">Select</option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select>
                </div>
                <div class="mb-2 mt-2 ">
                    <label class="text-[25px] font-semibold text-white w-[60%] text-left m-[0px]"  for="status">Terms and Condition</label>
                    <input type="checkbox" name="status" id="status" value="active" style="display: block; margin:auto; margin-top: -5%;" required>
                </div>
                <div class="flex flex-col items-center justify-center w-[100%] my-[20px]">
                    <label class="text-[25px] font-semibold text-white w-[60%] text-left m-[0px]"  for="specialty">Speciaty</label>
                    <select class="rounded-sm h-[40px] w-[60%] p-[10px] border-[#3ebf75] border-[2px] m-[0px]"   name="specialty" id="specialty" class="form-select" required>
                        <option value="Addiction Medicine">Addiction Medicine</option>
                        <option value="Anesthesiology">Anesthesiology</option>
                        <option value="Audiology">Audiology</option>
                        <option value="Cardiology">Cardiology</option>
                        <option value="Cardiothoracic Surgery">Cardiothoracic Surgery</option>
                        <option value="Chiropractic Care">Chiropractic Care</option>
                        <option value="Dermatology">Dermatology</option>
                        <option value="Dietetics and Nutrition">Dietetics and Nutrition</option>
                        <option value="Emergency Medicine">Emergency Medicine</option>
                        <option value="Endocrinology">Endocrinology</option>
                        <option value="Environmental Health">Environmental Health</option>
                        <option value="Gastroenterology">Gastroenterology</option>
                        <option value="General Surgery">General Surgery</option>
                        <option value="Gynecologic Oncology">Gynecologic Oncology</option>
                        <option value="Hematology">Hematology</option>
                        <option value="Infectious Diseases">Infectious Diseases</option>
                        <option value="Intensive Care Unit (ICU)">Intensive Care Unit (ICU)</option>
                        <option value="Maternal-Fetal Medicine">Maternal-Fetal Medicine</option>
                        <option value="Microbiology">Microbiology</option>
                        <option value="Nephrology">Nephrology</option>
                        <option value="Neurology">Neurology</option>
                        <option value="Laboratory">Laboratory</option>
                        <option value="Neurosurgery">Neurosurgery</option>
                        <option value="Nuclear Medicine">Nuclear Medicine</option>
                        <option value="Obstetrics and Gynecology">Obstetrics and Gynecology</option>
                        <option value="Occupational Medicine">Occupational Medicine</option>
                        <option value="Occupational Therapy">Occupational Therapy</option>
                        <option value="Oncology">Oncology</option>
                        <option value="Ophthalmology">Ophthalmology</option>
                        <option value="Orthopedic Surgery">Orthopedic Surgery</option>
                        <option value="Otolaryngology (ENT)">Otolaryngology (ENT)</option>
                        <option value="Pain Management">Pain Management</option>
                        <option value="Pathology">Pathology</option>
                        <option value="Pediatric Cardiology">Pediatric Cardiology</option>
                        <option value="Pediatric Neurology">Pediatric Neurology</option>
                        <option value="Pediatric Oncology">Pediatric Oncology</option>
                        <option value="Pediatric Surgery">Pediatric Surgery</option>
                        <option value="Physical Therapy">Physical Therapy</option>
                        <option value="Plastic Surgery">Plastic Surgery</option>
                        <option value="Podiatry">Podiatry</option>
                        <option value="Preventive Medicine">Preventive Medicine</option>

                        {{!-- Design by Kelani Yunus Oluwadamilare
                        email yunuskelani2@gmail.com//
                        phone: +2348140470626 --}}

                        <option value="Psychiatry">Psychiatry</option>
                        <option value="Psychology">Psychology</option>
                        <option value="Psychiatric Nursing">Psychiatric Nursing</option>
                        <option value="Public Health"></option>
                        <option value="Pulmonology">Pulmonolog</option>
                        <option value="Radiology">Radiology</option>
                        <option value="Reproductive Endocrinology">Reproductive Endocrinology</option>
                        <option value="Rheumatology">Rheumatology</option>
                        <option value="Social Work">Social Work</option>
                        <option value="Surgery">Surgery</option>
                        <option value="Speech Therapy">Speech Therapy</option>
                        <option value="Urogynecology">Urogynecology</option>
                        <option value="Urology">Urology</option>
                        <option value="Vascular Surgery">Vascular Surgery</option>
                        <option value="Virology">Virology</option>
                    </select>

                </div>

                <div class="flex flex-col items-center justify-center w-[100%] my-[20px]">
                    <label class="text-[25px] font-semibold text-white w-[60%] text-left m-[0px]"  for="password">Password</label>
                    <input class="rounded-sm h-[40px] w-[60%] p-[10px] border-[#3ebf75] border-[2px] m-[0px]"  type="password" class="form-control password" onkeyup="pass()" name="password"
                        id="password" placeholder="Password">
                    <small class="passworderror"></small>
                    
                </div>

                <div class="flex flex-col items-center justify-center w-[100%] my-[20px]">
                    <label class="text-[25px] font-semibold text-white w-[60%] text-left m-[0px]"  for="passwordconfirm">Confirm Password</label>
                    <input class="rounded-sm h-[40px] w-[60%] p-[10px] border-[#3ebf75] border-[2px] m-[0px]"  type="password" class="form-control passwordconfirm" name="passwordconfirm"
                        id="passwordconfirm" placeholder="Confirm Password">
                    
                </div>
                <p style="text-align: center;">If you already have an account login <a href="/doctor/login" class="text-[#1cff7e]">here</a>
                </p>
                <input type="submit" class="bg-white px-[20px] py-[10px] rounded-xl cursor-pointer" value="Register">
            </div>
        </form>

        
    </div>

    <div class="w-full bg-gray-200 flex-col flex items-center sm:flex-row sm:h-[300px]">
        <div class="flex flex-col items-center sm:w-[50%] h-[100%] justify-evenly">
            <h1 class="w-[30%] text-[40px] font-semibold text-[#3ebf75]">medConnect</h1>
            <p class="text-[#a1a1a1] text-[15px]">Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Nulla odit accusamus adipisci optio quos expedita beatae amet, explicabo delectus!</p>
            <div class="flex w-[80%]  items-center justify-evenly">
                <img src="images/facebookicon.png" alt="">
                <img src="images/whatsappicon.png" alt="">
                <img src="images/twitter.avif" alt=""></div>
        </div>

        <div class="grid-cols-3 w-full grid mt-[30px] sm:w-[50%] sm:h-[70%] ">
            <p><a href="">Home</a></p>
            <p><a href="">Contact Us</a></p>
            <p><a href="">About</a></p>
            <p><a href="">Learn More</a></p>
            <p><a href="">Contact Our developers</a></p>
            <p><a href="">Location</a></p>
        </div>
    </div>

    
<script>
    let x = document.querySelector("#x")
    let nav = document.querySelector("#nav")
    x.addEventListener("click", () => {
        if(nav.style.display == "none"){
            nav.style.display = "flex"
        }
        else{
            nav.style.display = "none"
        }
    })
</script>
</body>
</html>